.footer {
  grid-area: footer-start / 1 / footer-end / -1;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  text-align: center;

  &__disclaimer{
    font-size: 1rem;
    line-height: 1.5;
    color: $color-grey-light;
    margin-bottom: $space-8 rem;
  }

  &__trademark {
    margin-bottom: $space-16;
    color: $color-off-white;
    font-size: 1rem;
  }

}

.attribution {
  color: $color-purple-light;
  margin-top: 1rem;
  font-size: 1rem;
  display: block;
}