.footer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  text-align: center;

  &__disclaimer{
    font-size: $font-size-small;
    color: $color-grey-light;
    margin-bottom: 1.2rem;
  }

  &__trademark {
    margin-bottom: 1.8rem;
    color: $color-off-white;
    font-size: 1.2rem;
  }

}

