.btn
{
  font-family: 'Open Sans', sans-serif;
  padding: $space-8 $space-16;
  font-size: $font-size-regular;
  font-weight: 400;
  border-radius: 20px;
  border: 1px solid transparent;
  color: $color-purple-light;
  box-shadow: $shadow-light;
  outline: none;
  cursor: pointer;

  &--primary {
    border: 1px solid $color-purple-light;
    background: $color-purple-light;
    color: $color-darkest;

    &:hover, &:active , &:focus {
      background: $color-off-white;
      border-color: $color-off-white;
    }
  }

  &--outline {
    border: 1px solid $color-purple-light;

    &:hover, &:active , &:focus {
      border-color: $color-off-white;
      color: $color-off-white;
    }
  }

  &--close {
    color: $color-off-white;
  }

  &--danger{
    border: 1px solid $color-red;
    color: $color-red;
  }

}

.buttons-container {
  height: 8rem;
  display: flex;
  align-items: center;

  & .btn {
    margin-right: $space-16;
  }
}