.btn
{
  font-family: 'Open Sans', sans-serif;
  padding: $space-8 $space-16;
  font-size: $font-size-regular;
  font-weight: 400;
  border-radius: 20px;
  border: 1px solid transparent;
  color: $color-purple-light;
  box-shadow: $shadow-light;
  outline: none;

  &--primary {
    border: 1px solid $color-purple-light;
    background: $color-purple-light;
    color: $color-darkest;
  }

  &--outline {
    border: 1px solid $color-purple-light;
  }
}
