.btn
{
  font-family: 'Open Sans', sans-serif;
  padding: $space-8 $space-16;
  font-size: $font-size-regular;
  font-weight: 400;
  border-radius: 20px;
  border: 1px solid transparent;
  color: $color-purple-light;
  // box-shadow: $shadow-light;
  outline: none;
  cursor: pointer;

  &:hover, &:active , &:focus {
    color: $color-off-white;
  }

  &--primary {
    border: 1px solid $color-purple-light;
    background: $color-purple-light;
    color: $color-darkest;

    &:hover, &:active , &:focus {
      background: $color-off-white;
      border-color: $color-off-white;
      color: $color-darkest;
    }
  }

  &--outline {
    border: 1px solid $color-purple-light;

    &:hover, &:active , &:focus {
      border-color: $color-off-white;
      color: $color-off-white;
    }
  }

  &--close {
    position: absolute;
    color: $color-off-white;
    top: 7.5%;
    right: 5%;
    cursor:pointer
  }

  &--danger{
    border: 1px solid $color-red;
    color: $color-red;
  }

  &--small-link {
    font-size: 1.2rem;
    padding: 0;
  }

  &--small-outline {
    font-size: 1.2rem;
    border: 1px solid $color-purple-light;
    padding: $space-4 $space-8;

    &:hover, &:active , &:focus {
      border-color: $color-off-white;
      color: $color-off-white;
    }
  }
}

.buttons-container {
  height: 8rem;
  display: flex;
  align-items: center;

  & .btn {
    margin-right: $space-16;
  }
}

