.card {
  width: 32rem;
  height: 42rem;
  display: flex;
  flex-direction: column;
  background: $color-dark;
  box-shadow: $shadow-light;
  color: $color-purple-light;
  border-radius: 1rem;
  transition: color .3s ease-out;

  &:hover, &:active , &:focus {
    background: $color-purple-dark;
    & .card-body {
      border-top: 1px solid $color-dark;
    }
  }

}

.card-header {
  display: flex;
  height: 8rem;
  border-radius: 1rem 1rem 0 0;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
  
  // &__container {
  //   display: flex;
  //   width: 90%;
  //   flex-direction: row;
  // }

  &__title {
    font-size: $font-size-regular;
    font-weight: 700;
    display: inline-block;
  }
  &__value-group {
    // vertical-align: center;
    align-items: center;
    display: flex;
  }
  &__value {
    font-family: 'Roboto', sans-serif;
    margin-left: $space-4;
  }

  &__arrow-icon{
    vertical-align: center;

    &--red{
      color: $color-red;
    }
    &--green{
      color: $color-green;
    }
  }
}

.card-body {
  border-top: 1px solid $color-purple-dark;
  padding-top: $space-16;

  &__title {
    font-family: 'Roboto', sans-serif;
    color: $color-off-white;
    font-weight: 400;
  }
  &__value {
    font-family: 'Roboto', sans-serif;
  }
}

.card-footer {
  width: 75%;
  margin: $space-32 auto 0;

  &__paragraph{
    font-size: $font-size-small;
    font-family: 'Lato', sans-serif;
    font-weight: light;
    color: $color-purple-light;
  }
}


.stat-container {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: $space-8;
}

