.login-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background-color: $color-blue-medium;
    color: #fff;
    padding: 3rem 0 5rem;
    border-radius: 5px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .3);

    &__title {
        margin-bottom: 1.5rem;

    }


    &--login {
        margin-top: 7.5rem;
        min-width: 300px;
        max-width: 450px;
    }

    &--register {

    }

    &__label {
        margin-bottom: .5em;
    }

    &__input {
        width: 80%;
        margin: 0 auto;
        border: none;
        border-radius: 5px;
        outline: none;
        padding: .5em 1em;
        background-color: lighten($color-blue-medium, 20%);
        margin-bottom: 1.5em;
        text-align: center;
        color: $color-blue-dark;

        &::placeholder {
            color: $color-grey-light;
        }
    }

    &__btn {
        background-color: darken($color-blue-medium, 20%);
        color: $color-white;
        margin-bottom: 1.5rem;
        transition: all .1s ease-in;

        &:disabled {
            opacity: .5;
        }
        &:hover:not(:disabled),
        &:focus:not(:disabled) {
            background-color: darken($color-blue-medium, 10%);
            transform: translateY(-1px);
        }

        &:active {
            transform: translateY(3px);
        }
    }

    &__link {
        color: $color-white;
        transition: all .1s ease-in;
        border-bottom: 1px solid $color-white;
        
        &:hover {
            color: lighten($color-blue-medium, 20%);
        }
    }
}