.form-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  display: flex;
  flex-direction: column;

  &--checkbox {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: $space-24;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-size: $font-size-regular;
  color: $color-grey-light;
  background: $color-dark;
  padding: $space-24 $space-48;
  border-radius: 1rem;
  font-family: 'Lato';
  // box-shadow: $shadow-light;

  &__items {
    width: 28rem;
    margin-bottom: $space-24;
  }

  &__title {
    font-size: 4.1rem;
    margin-bottom: $space-24;
  }

  & label {
    padding: $space-16 0 $space-12;
    margin-left: $space-24;
  }

  // & input,
  // select,
  // option,
  // textarea {
  //   // padding-top: $space-8;
  //   // padding-bottom: $space-8;
  //   // padding-left: $space-24;
  //   // width: 100%;
  //   // border-radius: 1rem;
  //   // background-color: $color-purple-dark;
  //   // outline: none;
  //   // border: none;
  //   // box-shadow: $shadow-light;
  //   // font-family: 'Lato';
  //   // letter-spacing: 1px;
  //   // color: $color-off-white;
  // }

  & input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  &__input {
    padding-top: $space-8;
    padding-bottom: $space-8;
    padding-left: $space-24;
    width: 100%;
    border-radius: .8rem;
    background-color: $color-purple-dark;
    outline: none;
    border: none;
    box-shadow: $shadow-light;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    color: $color-off-white;
    border: 1px solid $color-purple-dark;
    cursor: pointer;

    &:hover {
      border: 1px solid $color-off-white;
    }

    &--error {
      border: 1px solid $color-red;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    & > button,
    a,
    p {
      margin-bottom: $space-4;
      width: 100%;
      text-align: center;
    }
  }

  // &__message {
  //   text-align: center;
  // }

  &__link {
    color: $color-purple-medium;
    display: block;

    &:hover,
    &:active {
      color: $color-purple-light;
    }
  }
}

input[type='checkbox'] {
  width: auto;
}

.error {
  font-size: $font-size-small;
  display: block;
  color: $color-red;
  margin-left: $space-24;
}
