.form-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  // align-items: center;



  &--checkbox {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: $space-24;
  
    
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-size: $font-size-regular;
  color: $color-grey-light;
  background: $color-dark;
  padding: $space-24 $space-48; 
  border-radius: $space-24 rem;
  font-family: 'Lato';
  box-shadow: $shadow-light;

  &__items {
    width: 28rem;
    margin-bottom: $space-24;
  }

  &__title {
    font-size: 4.1rem;
    margin-bottom: $space-24;

  }

  & label {
    padding: $space-16 0 $space-12;
    margin-left: $space-24;
    
  }
  
  & input, select, option, textarea {
    padding-top: $space-8;
    padding-bottom: $space-8;
    padding-left: $space-24;
    width: 100%;
    border-radius: 1rem;
    // text-align: center;
    background-color: $color-purple-dark;
    outline: none;
    border: none;
    box-shadow: $shadow-light;
    font-family: 'Lato';
    letter-spacing: 1px;
    color: $color-off-white;
  }

  & input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; 
  }
  
  input[type=number] {
      -moz-appearance:textfield;
  }


  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    & > button, a, p {
      margin-bottom: $space-4;
      width: 100%;
      text-align: center;
    }
  }

  // &__message {
  //   text-align: center;
  // }

  &__link {
    color: $color-purple-medium;
    display: block;
  }

}

input[type=checkbox] {
  width: auto;
}