.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: $font-size-regular;
  color: $color-grey-light;
  background: $color-dark;
  padding: $space-24 $space-48;
  border-radius: 1rem;
  font-family: 'Lato', sans-serif;
  box-shadow: $shadow-light;

  & > .buttons-container {
    margin-top: $space-16;
  }
  
  // &__body {
  // }


  &__checkbox {
    text-align: left;
    justify-content: left;
    & > input {
      margin-right: 1rem;
    }
  }
  &__title {
    font-size: $font-size-header-3;
    font-weight: 700;
    margin-bottom: $space-24;
  }

  // &__paragraph {
    
  // }
}