.main-navigation {
    background-color: $color-white;
    padding: 2rem 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;


    &__logo {
        font-size: $font-size-large;
        font-weight: 600;
        color: $color-blue-dark;
        padding: 0.25em 0;
        border-bottom: 3px solid $color-blue-dark;


    }

    &__navlinks {
        margin-top: 1em;
            @media (min-width: 600px){
                margin-top: 0;
            }
    }



    &__btn {
        margin-left: 1em;
        color: $color-blue-dark;
        padding: 0.25em;
        transition: all .1s ease-in;
        
        &:focus, 
        &:hover{
            color: $color-grey-light;
        }
        
        &--cta {
            padding: 0.25em 1em;
            border: 1px solid $color-blue-dark;
            border-radius: 3px;
            display: none;

            &:focus, 
            &:hover{
                color: $color-white;
                background-color: $color-blue-dark;
                border: 1px solid $color-blue-dark ;
            }

            @media (min-width: 400px){
                display: inline-block;
            }
        }
    }

    @media (min-width: 600px){
        flex-direction: row;
    }
}

.navlink{
    // box-sizing: content-box;

    &:visited, &:link{
        color: $color-blue-dark;
        padding: 0.25em 0;
        margin-left: 1em;
        border: 1px solid $color-white;
        transition: all .1s ease-in;
    }
    &:active, &:hover {
        color: $color-grey-light;
        // color: $color-blue-medium;
        // border-bottom: 1px solid $color-blue-dark ;
        // border-radius: 5px;
    }
}