.Toastify__toast {
  font-size: $font-size-small;

  &--default {
    background: $color-dark;
    color: $color-off-white;

    &:first-child {
      padding-left: $space-8;
    }
  }

  // &--error {

  // }
}