.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;

  &
    > .menu-item:last-child
    > .accordion-heading:not(.accordion-heading--active) {
    border-radius: 0 0 10px 10px;
  }

  & > .menu-item:first-child > .accordion-heading {
    border-radius: 10px 10px 0 0;
  }

  &__link {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-medium;
    font-weight: 400;
    color: $color-purple-light;
    padding-top: 1.8rem;
  }
}

.menu-item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: $space-8;
}

.item-container {
  margin: 0 auto;
  display: flex;
  width: 80%;
  padding: 0.4rem 0;
  justify-content: space-between;
}
.accordion-heading {
  display: flex;
  background: $color-dark;
  min-height: 4.2rem;
  align-items: center;
  color: $color-purple-light;
  cursor: pointer;
  
  &__chevron {
    position: absolute;
    right: $space-8;
    transform: rotate(-90deg);

    &--active {
      transform: rotate(0deg);
      color: $color-off-white;
    }
  }

  &--active {
    background: $color-purple-dark;
    // margin-bottom: .8rem;
  }

  &:hover, &:active , &:focus {
    background: $color-purple-dark;
  }

  &__title {
    color: $color-off-white;
    font-size: $font-size-medium;
  }
  &__value {

    font-size: $font-size-medium;
  }
  // &__arrow {
  // }
}

.accordion-content {
  overflow: hidden;
  color: $color-purple-light;
  font-size: $font-size-small;
  font-family: 'Roboto', sans-serif;  
  padding-top: $space-8;
  
  
  &__title {
    font-size: $font-size-small;
    font-weight: 400;
  }
  
  // &__value{
    
    // }
    
    &--show {
    padding-top: $space-8;
    height: 100%;
    opacity: 1;
  }

  &--hide {
    height: 0;
    opacity: 0;
  }
}


