.accordion {
  display: flex;
  flex-direction: column;
  width: 400px;

  & > .menu-item:first-child > .accordion-heading {
    border-radius: 10px 10px 0 0;
  }
  &
    > .menu-item:last-child
    > .accordion-heading:not(.accordion-heading--active) {
    border-radius: 0 0 10px 10px;
  }
}

.menu-item {
  display: flex;
  flex-direction: column;
}

.item-container {
  margin: 0 auto;
  display: flex;
  width: 80%;
  // border: 1px solid red;
  justify-content: space-between;
}
.accordion-heading {
  display: flex;
  background: $color-dark;
  height: 30px;
  align-items: center;
  color: $color-off-white;
  font-size: 1.4rem;
  // justify-content: center;

  &--active {
    background: $color-purple-dark;
  }

  &__title {
  }
  &__value {
  }
  &__arrow {
  }
}

.accordion-content {
  overflow: hidden;
  &--show {
    height: 100%;
  }

  &--hide {
    height: 0;
  }
}
