table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: $shadow-light;
}

tbody {
  background: $color-dark;
}

th,
td {
  padding: $space-8;
  text-align: left;
  color: $color-off-white;
}

tr {
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    background: $color-purple-dark;
  }
}
.trade-item {
  &__column {
    padding-left: $space-24;

    &--right {
      display: block;
      width: 100%;
      text-align: right;
    }

    &--hidden {
      display: none;

      @media(min-width: 1000px){
        display: block;
      }
    }
  }

  &--empty {
    height: 3rem;
    cursor: initial;

    &:hover,
    &:active,
    &:focus {
      background: inherit;
    }
  }
}

.table-container {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-small;
}

.table-header {
  background: $color-purple-dark;

  &__column {
    height: 4.2rem;
    color: $color-off-white;
    padding-left: $space-24;
    cursor: auto;

    &--sortable {
      cursor: pointer;

      &:hover,
      &:focus {
        color: $color-purple-medium;
      }
    }
    &--right {
      text-align: right;
      width: 12rem;
    }

    &--outcome {
      width: 8rem;
    }

    &--active {
      color: $color-purple-medium;
    }

    &--hidden {
      display: none;

      @media(min-width: 1000px){
        display: block;
      }
    }
  }
}

.table-pagination {
  display: flex;
  align-items: center;
  width: 100%;
  // height: 4.2rem;
  background: $color-purple-dark;
  border-radius: 0 0 10px 10px;

  &__btn-container {
    // width: 100%;
    padding-left: $space-8;
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
    align-items: center;
  }

  &__buttons {
    grid-column: 2/3;
  }

  &__back {
    display: flex;
    // align-items: center;
    justify-content: center;
    padding: 0;
  }

  &__btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    padding: $space-8 $space-16;
    color: $color-purple-medium;
    cursor: pointer;

    &--active {
      color: $color-off-white;
    }

    &--chevron {
      display: flex;
      align-items: center;
      // justify-content: center;
      // padding: 0;

      &:hover,
      &:focus {
        color: $color-off-white;
      }

    }
    &--notrades {
      display: block;
      grid-column: 1/3;
      font-weight: 300;
      cursor: auto;
    }
  }

}

.chevron {
  &__container {
    padding-left: $space-8;
  }

  &__icon {
    vertical-align: bottom;
  }
}
