table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 450px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: $shadow-light;
}

tbody {
  background: $color-dark;
}


th, td {
  padding: .8rem;
  text-align: center;
  color: $color-off-white;
}

tr {
  cursor: pointer;
  &:hover, &:active , &:focus {
    background: $color-purple-dark;
  }
}

.table-container {
  font-family: 'Roboto';
  font-size: $font-size-small;
}

.table-header {
  background: $color-purple-dark;
  
  &__column {
    height: 4.2rem;
    color: $color-off-white;

    &--active {
      color: $color-purple-medium;
    }
  }
}




.table-pagination {
  display: flex;
  align-items: center;
  width: 100%;
  // height: 4.2rem;
  background: $color-purple-dark;
  border-radius:0 0 10px 10px;
  
  // &__btn-container {

  // }

  &__btn {
    font-family: 'Roboto';
    font-size: 1.4rem;
    color: $color-off-white;
    padding: .8rem 2rem;

    &--active {
      color: $color-purple-medium;
    }
  }
}
