.accounts {
  display: flex;
  flex: 1;
  flex-direction: column;

  &__header {
    margin: 3rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 800px){
      align-items: flex-start;
      margin: 0;
    }
  }

  &__title {
    color: $color-blue-dark;
    font-size: 2rem;
    font-weight: 400;
  }

  &__paragraph {
    margin: 1rem 0 2rem;
    color: $color-blue-medium;
  }
}


.card-container {
  margin: 3rem auto 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  
  @media (min-width: 700px) {
    flex-direction: row;
  }
}

.card {
  margin-bottom: 2rem;
  background: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
  height: 25rem;
  width: 30rem;
  border-radius: 8px;
  
  @media (min-width: 700px) {
    margin-right: 2rem;
  }

  &__balance {
    font-weight: bold;
  }
  &__relative-gain {
    margin-left: 1rem;

    &.green{
      color: green;
    }
  
    &.red {
      color: red;
    }
  }

  &__header {
    display: flex;
    // border: 1px solid red;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: .5rem 2rem;

    & h2 {
      display: inline-block;
      color: $color-blue-dark;
      font-size: 2.4rem;
      font-weight: 400;
    }

    & span {
      display: inline-block;
      color: $color-blue-medium;
      font-weight: 400;
      font-size: 1.6rem;

    }

  }

  &__stats {
    padding: 1.5rem 2rem;
    color: $color-grey-medium;
  
    & h4 {
      display: inline-block
    }
  
    & .green{
      color: green;
    }
  
    & .red {
      color: red;
    }
  
    & .stat-container {
      display: flex;
      justify-content: space-between;
    }
  }
}

