.landing-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  @include centered-container;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;

    @media (min-width: 1200px) {
      justify-content: space-between;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    text-align: center;
    
    @media (min-width: 1200px) {
      text-align: left;
      align-items: flex-start;
      width: 45%;
    }
  }

  &__graphic-column {
    display: none;
    width: 40%;
    align-items: center;
    justify-content: center;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  &__title {
    color: $color-off-white;
    font-size: $font-size-header-2;
    line-height: 5.1rem;
    font-weight: 700;
    margin-bottom: $space-24;
    
    @media (min-width: 600px) {
      font-size: $font-size-header-1;
      line-height: 6.4rem;
    }
  }

  &__subtitle {
    font-size: $font-size-regular;
    line-height: 2.6rem;
    font-weight: 300;
    margin-bottom: $space-48;
    
    @media (min-width: 600px) {
      font-size: $font-size-header-3;
      line-height: 4.1rem;
    }
  }
}

.graphic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  position: relative;
  height: 100%;

  &--background {
    position: absolute;
    stroke: #fff;
    height: 75%;
    right: 104px;
  }
  &--front {
    position: absolute;
    height: 75%;
    stroke: #fff;
    opacity: 0.6
  }

  // @media (min-width: 1200px){
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: flex-end;
  // }
}
