.landing-page {
  display: flex;
  flex-direction: column;
  height: 90vh;
  @include centered-container;
  justify-content: center;
  

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
  }

  &__graphic-column {
    width: 40%;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: $color-off-white;
    font-size: $font-size-header-1;
    line-height: 6.4rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
  }

  &__subtitle {
    font-size: $font-size-header-3;
    line-height: 4.1rem;
    font-weight:500;
    margin-bottom: 4.8rem;
  }
}

.btn--cta {
  margin-bottom: 5rem;
}

.graphic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 100%;

  &--background {
    position: absolute;
    stroke: #fff;
    right: 104px;
  }
  &--front {
    position: absolute;
    stroke: #fff;
  }
}