// .account-details {
//   // display: flex;
//   justify-content: space-between;
//   width: 90%;
//   margin: 0 auto;
//   margin-top: $space-16;
// }

.details {
  @include centered-in-grid-3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 18rem 1fr;
  grid-gap: $space-24;
}

.trades-column {
  display: flex;
  flex-direction: column;
  grid-row: 2/3;
  grid-column: 2/3;
}

.strategy-details {
  grid-column: 2 / 3;
  grid-row: 1/2;
}

.menu-column {
  display: flex;
  grid-row: 2/3;
  grid-column: 1/2;
}
