.account-details {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: $space-16;
}

.trades-column {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.strategies-column {
  display: flex;
  align-items: center;
}
