// .account-details {
//   // display: flex;
//   justify-content: space-between;
//   width: 90%;
//   margin: 0 auto;
//   margin-top: $space-16;
// }

.details {
  // margin-top: $space-12;
  background-color: $color-dark;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  // height: 100%;
  // grid-gap:  $space-12;

  @media (min-width: 800px) {
    @include centered-in-grid-3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr;
    grid-gap: $space-24;
  }
}

.trades-column {
  display: flex;
  flex-direction: column;
  @media (min-width: 800px) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

.strategy-details {
  @media (min-width: 800px) {
    grid-column: 2 / 3;
    grid-row: 1/2;
  }
}

.menu-column {
  display: flex;
  @media (min-width: 800px) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
