.trade-details {
  @include centered-in-grid-3;
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content) min-content 1fr min-content;
  grid-gap: $space-24;
  background: $color-dark;
  max-width: 42rem;
  border-radius: 1rem;
  padding: $space-24 $space-40;
  // align-self: top;

  &__header-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-self: start;
    padding-left: $space-8;
  }

  &__title-container {
    display: flex;
    justify-content: space-between;

    &--strategy {
      grid-column: 1/3;
      grid-row: 1/2;
      padding: 0 $space-8 ;
    }
  }
  
  &__date {
    font-weight: 400;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 $space-8 ;
    // padding: $space-8;

    &--relative-gain{
      grid-row: 2/3;
      grid-column: 2/3;
      align-self: center;
      justify-self: end;
    }

    &--outcome {
      grid-row: 2/ 3;
      grid-column: 1/2;
      align-self: center;
      justify-self: start;
    }

    &-value {
      font-weight: 400;
    }
    &-title {
      font-weight: 400;
      text-transform: capitalize;

      &--strategy {
        padding-left: $space-8;
      }
    }

  }
  &__strategy {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-bottom: $space-24;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 5rem;
    grid-row-gap: $space-8;
  }

  &__change-strategy {
    display: flex;
    width: 100%;
    align-items: center;
    grid-column: 1 / 3;

    & .form-control {
      flex: 1;
      // margin-right: $space-12;
    }
    & .form__input {
      padding-left: $space-8;
      border-radius: .8rem 0 0 .8rem;
      border: 1px solid $color-purple-dark;
      // border: 1px solid red;
      flex: 1;
    }
    
    > .btn {
      height: 3.56rem;
      border-radius: 0 .8rem .8rem 0;
      border: 1px solid $color-purple-dark;
    }
  }

  &__notes {
    grid-row: 4/5;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-gap: $space-8;
    padding: 0 $space-8;

    // & > .btn {
    //   justify-self: start;
    // }

  }

  &__paragraph {
    font-size: $font-size-small;
    font-weight: 300;
  }





  &__buttons {
    padding: 0 $space-8;
    grid-row: 5/6;
    grid-column: 1/3;
  }
}
