.widget {
  display: flex;
  justify-content: space-between;
  padding: $space-12 $space-12;
  background-color: $color-dark;
  
  @media(min-width: 600px){
    padding: $space-24 $space-24;
  }

  &__value-title {
    margin-right: $space-12;
  }

  &__container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;


    &--strategy {

    }
  }

  &__label {
    font-size: $font-size-regular;
    color: $color-off-white;
    margin-right: $space-12;
  }

  &__select {
    padding-left: $space-12;
  }

  &__form-control {
    display: flex;
    align-items: center;


  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    padding: $space-12 0;
    

    @media(min-width: 400px){
      justify-content: flex-end;

      > .btn {
        margin-left: $space-12;
      }

    }

    @media(min-width: 600px){
      padding: $space-24;
    }


  }





  &__details {
    font-weight: 300;
  }

  &--account {
    display: grid;
    grid-template-rows: repeat(1fr);
    grid-template-columns: 1fr;
    grid-gap: $space-24;
    grid-row: 3/4;
  }

  &--strategy {
    grid-row: 1/2;
  }
}
