.page-header {
  grid-row: 1/ 2;
  // grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: $color-dark;
  border-radius: 1rem;
  padding: $space-12;
  
  @media(min-width: 800px) {
    grid-column: 1 / span 2;
    padding: 0;
  }
  
  &--details {
    grid-column: 1 / 2;
    border-radius: 1rem;
  }
  
  
  &__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8rem;
  }
  &__title, &__value {
    padding-left: $space-40;
    padding-right: $space-40;
  }

  // &__value{ 
    
  // }
  
  &__paragraph {
    padding-left: $space-40;
    padding-right: $space-40;
    margin-bottom: $space-24;
    
    @media(min-width: 800px) {
      margin-bottom: $space-8;
    }
  }

  &__button-container {
    height: 8rem;
    display: flex;
    align-items: center;
    padding-left: $space-40;
    padding-bottom: $space-16;

    & .btn {
      margin-right: $space-16;
    }
  }
}