.page-header {
  width: 100%;
  width: 45rem;
  background: $color-dark;
  border-radius: 2.6rem;
  margin-bottom: $space-32;
  // margin-top: $space-32;
  
  
  &__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8rem;
  }
  &__title, &__value {
    padding-left: $space-40;
    padding-right: $space-40;
  }

  // &__value{ 
    
  // }
  
  &__paragraph {
    padding-left: $space-40;
    padding-right: $space-40;
    margin-bottom: $space-8;

  }

  &__button-container {
    height: 8rem;
    display: flex;
    align-items: center;
    padding-left: $space-40;
    padding-bottom: $space-16;

    & .btn {
      margin-right: $space-16;
    }
  }
}