@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(../../assets/typography/OpenSans/OpenSans-Regular.ttf) format('truetype');
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  background-color: $color-darkest;
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
}

.app {
  width: 100vw;
  display: grid;
  grid-template-rows: [nav-start] 10rem [nav-end main-start] 1fr [main-end footer-start] 10rem [footer-end];
  grid-template-columns: minmax(0, 1fr) minmax(1fr, 1200px) minmax(0, 1fr);
  grid-gap: $space-24;
  height: 100vh;
}

.main-container {
  grid-area: main-start / 1/ main-end /-1;
  @include grid-colums-3;
}