*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    min-width: 90%;
    margin: 0 auto;
}

body {
    background-color: $color-white;
}