*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  background-color: $color-darkest;
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
}

.app {
  display: grid;
  grid-template-rows: [nav-start] 10rem [nav-end main-start] 1fr [main-end footer-start] 10rem [footer-end];
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $space-24;
  height: 100vh;
}

.main-container {
  grid-area: main-start / 1/ main-end /-1;
}