*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: $color-grey-dark;
}


body {
    // background: linear-gradient(135deg, $color-blue-medium, $color-blue-light);
    background-color: $color-white;
}

button {
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background-color: transparent;
}

.container {
    display: flex;
    min-width: 90%;
    margin: 0 auto;
}


.app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    flex-direction: column;
    flex: 1;
    width: 90%;
}