*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  background-color: $color-darkest;
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
