@mixin centered-container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin grid-colums-3 {
  display: grid;
  min-width: 320px;
  grid-template-columns: 1fr minmax(min-content, 1200px) 1fr;
  grid-gap: $space-24;
}

@mixin centered-in-grid-3 {
  grid-column: 2/3;
}

@mixin grid-columns-full {
  grid-column: 1/ -1;
}