h1, h2, h3, h4, p {
  color: $color-off-white;
}

h1,
h2,
h3,
h4,
button {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

span {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: $font-size-header-1;
  line-height: 6.4rem;
}

h2 {
  font-size: $font-size-header-2;
  line-height: 5.1rem;
}

h3 {
  font-size: $font-size-header-3;
  line-height: 4.1rem;
}

h4 {
  font-size: $font-size-regular;
  font-weight: 700;
  // line-height: 3.2rem;
}

p,
a,
button {
  font-size: $font-size-regular;  
  line-height: 2.6rem;
}


.green {
  color: $color-green;
}

.red {
  color: $color-red;
}