//Colors

// $color-blue-dark: #346daa;
// $color-blue-medium: #8194ad;
// $color-blue-light: #99B5C1;

// $color-grey-dark: #191919;
// $color-grey-medium: #7C7A7A;
// $color-white: #FAF9F9;

$color-blue-dark: #346DAA;
$color-blue-medium: #7095D8;
$color-grey-light: #ABB7CA;
$color-grey-medium: #747674;
$color-grey-dark: #191919;
$color-white: #F5F2F1;


//Font-sizes
$font-size-small: 1rem;
$font-size-medium: 1.4rem;
$font-size-normal: 1.6rem;
$font-size-large: 3.2rem;