//Colors
$color-white: blue;

$color-darkest: #050212;
$color-dark: #0F0D1C;
$color-purple-dark: #1C1834;
$color-purple-medium: #7977E4;
$color-purple-light: #B6AFE8;
$color-off-white: #E6E1F2;
$color-grey-light: #C4C4C4;

$color-red: #E4777C;
$color-green: #8DE477;


//Font-sizes
$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-regular: 1.6rem;
$font-size-header-1: 5.4rem;
$font-size-header-3: 2.4rem;
$font-size-header-2: 2rem;
$font-size-extra-large: 3.2rem;

$shadow-light: 1px 1px 4px rgba(0, 0, 0, .15);