//Colors
$color-white: blue;

$color-darkest: #050212;
$color-dark: #0F0D1C;
$color-purple-dark: #1C1834;
$color-purple-medium: #7977E4;
$color-purple-light: #B6AFE8;
$color-off-white: #E6E1F2;
$color-grey-light: #C4C4C4;
$color-grey-medium: #5E5E5E;

$color-red: #E4777C;
$color-green: #8DE477;


//Font-sizes

$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-regular: 1.6rem;
$font-size-header-1: 4.2rem;
$font-size-header-2: 3.2rem;
$font-size-header-3: 2.6rem;
$font-size-extra-large: 6.7rem;

//Spaces

$space-4: .4rem;
$space-8: .8rem;
$space-12: 1.2rem;
$space-16: 1.6rem;
$space-24: 2.4rem;
$space-32: 3.2rem;
$space-40: 4rem;
$space-48: 4.8rem;



//Shadows
$shadow-light: 1px 1px 4px rgba(0, 0, 0, .15);